/*
Theme Name: WP Alchemists' Blank Theme
Theme URI: 
Description: Based on Starkers HTML5 by Nathan Staines - http://nathanstaines.com
Version: 1
Author: Morgan Kay and WP Alchemists
Author URI: http://wpalchemists.com
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


@import "css/reset.css";
@import "editor-style.css";


/* GENERAL STYLES */
/* ----------------------------------------- */


* { 
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box; 
}

.offscreen {
position: absolute;
height: 1px;
width: 1px;
overflow: hidden;
clip: rect(1px 1px 1px 1px);
clip: rect(1px, 1px, 1px, 1px);
}

.clearfix:after {
display: table;
content: '';
clear: both;
}

#content img,
#top img {
max-width: 100%; 
height: auto;
}

img[class*="align"],
img[class*="wp-image-"] {
height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

img.size-full {
max-width: 100%;
width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}


/* HEADER */
/* ----------------------------------------- */





/* NAVIGATION */
/* ----------------------------------------- */





/* PAGE */
/* ----------------------------------------- */





/* HOME PAGE */
/* ----------------------------------------- */





/* BLOG */
/* ----------------------------------------- */





/* SIDEBAR */
/* ----------------------------------------- */





/* FOOTER */
/* ----------------------------------------- */